<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zscat.goods.dao.UserJfgoodsDao">

	<select id="get" resultType="com.zscat.goods.entity.UserJfgoodsDO">
		select `id`,`goodsid`,`userid`,`img`,`goodsname`,`count`,`price` from t_user_jfgoods where id = #{value}
	</select>

	<select id="list" resultType="com.zscat.goods.entity.UserJfgoodsDO">
		select `id`,`goodsid`,`userid`,`img`,`goodsname`,`count`,`price` from t_user_jfgoods
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="goodsid != null and goodsid != ''"> and goodsid = #{goodsid} </if>
		  		  <if test="userid != null and userid != ''"> and userid = #{userid} </if>
		  		  <if test="img != null and img != ''"> and img = #{img} </if>
		  		  <if test="goodsname != null and goodsname != ''"> and goodsname = #{goodsname} </if>
		  		  <if test="count != null and count != ''"> and count = #{count} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_user_jfgoods
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="goodsid != null and goodsid != ''"> and goodsid = #{goodsid} </if>
		  		  <if test="userid != null and userid != ''"> and userid = #{userid} </if>
		  		  <if test="img != null and img != ''"> and img = #{img} </if>
		  		  <if test="goodsname != null and goodsname != ''"> and goodsname = #{goodsname} </if>
		  		  <if test="count != null and count != ''"> and count = #{count} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.zscat.goods.entity.UserJfgoodsDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_user_jfgoods
		(
			`goodsid`, 
			`userid`, 
			`img`, 
			`goodsname`, 
			`count`, 
			`price`
		)
		values
		(
			#{goodsid}, 
			#{userid}, 
			#{img}, 
			#{goodsname}, 
			#{count}, 
			#{price}
		)
	</insert>
	 
	<update id="update" parameterType="com.zscat.goods.entity.UserJfgoodsDO">
		update t_user_jfgoods 
		<set>
			<if test="goodsid != null">`goodsid` = #{goodsid}, </if>
			<if test="userid != null">`userid` = #{userid}, </if>
			<if test="img != null">`img` = #{img}, </if>
			<if test="goodsname != null">`goodsname` = #{goodsname}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="price != null">`price` = #{price}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_user_jfgoods where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_user_jfgoods where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>