<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zscat.label.dao.LabelRelationMapper" >
  <resultMap id="BaseResultMap" type="com.zscat.label.entity.LabelRelation" >
    <id column="label_relation_id" property="labelRelationId" jdbcType="INTEGER" />
    <result column="label_id" property="labelId" jdbcType="INTEGER" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="label_partition" property="labelPartition" jdbcType="INTEGER" />
    <result column="label_group_id" property="labelGroupId" jdbcType="INTEGER" />
    <result column="relation_id" property="relationId" jdbcType="INTEGER" />
    <result column="relation_type" property="relationType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user_id" property="lastUpdateUserId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    label_relation_id, label_id, label_name, label_partition, label_group_id, relation_id,
    relation_type, create_time, create_user_id, is_delete, last_update_time, last_update_user_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_label_relation
    where label_relation_id = #{labelRelationId,jdbcType=INTEGER}
      AND is_delete = 0
  </select>

  <insert id="insert" useGeneratedKeys="true" keyColumn="label_relation_id" keyProperty="labelRelationId" parameterType="com.zscat.label.entity.LabelRelation" >
    INSERT INTO tb_label_relation (label_relation_id, label_id, label_name,
      label_partition, label_group_id, relation_id,
      relation_type, create_time, create_user_id,
      is_delete, last_update_time, last_update_user_id
      )
    VALUES (#{labelRelationId,jdbcType=INTEGER}, #{labelId,jdbcType=INTEGER}, #{labelName,jdbcType=VARCHAR},
      #{labelPartition,jdbcType=INTEGER}, #{labelGroupId,jdbcType=INTEGER}, #{relationId,jdbcType=INTEGER},
      #{relationType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER},
      #{isDelete,jdbcType=INTEGER}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastUpdateUserId,jdbcType=INTEGER}
      )
  </insert>

  <insert id="batchInsert" useGeneratedKeys="true" keyColumn="label_relation_id" keyProperty="labelRelationId" parameterType="com.zscat.label.entity.LabelRelation" >
    INSERT INTO tb_label_relation (label_relation_id, label_id, label_name,
      label_partition, label_group_id, relation_id,
      relation_type, create_time, create_user_id,
      is_delete, last_update_time, last_update_user_id
      )
    VALUES
      <foreach collection="list" item="item" index="index" separator=",">
          (#{item.labelRelationId,jdbcType=INTEGER}, #{item.labelId,jdbcType=INTEGER}, #{item.labelName,jdbcType=VARCHAR},
          #{item.labelPartition,jdbcType=INTEGER}, #{item.labelGroupId,jdbcType=INTEGER}, #{item.relationId,jdbcType=INTEGER},
          #{item.relationType,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUserId,jdbcType=INTEGER},
          #{item.isDelete,jdbcType=INTEGER}, #{item.lastUpdateTime,jdbcType=TIMESTAMP}, #{item.lastUpdateUserId,jdbcType=INTEGER}
          )
      </foreach>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.zscat.label.entity.LabelRelation" >
    UPDATE tb_label_relation
    SET label_id = #{labelId,jdbcType=INTEGER},
      label_name = #{labelName,jdbcType=VARCHAR},
      label_partition = #{labelPartition,jdbcType=INTEGER},
      label_group_id = #{labelGroupId,jdbcType=INTEGER},
      relation_id = #{relationId,jdbcType=INTEGER},
      relation_type = #{relationType,jdbcType=INTEGER},
      last_update_user_id = #{lastUpdateUserId,jdbcType=INTEGER}
    WHERE label_relation_id = #{labelRelationId,jdbcType=INTEGER}
  </update>

  <select id="findByLabelIds" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM tb_label_relation
    WHERE label_id IN
      <foreach collection="labelIds" item="labelId" open="(" close=")" separator=",">
        #{labelId}
      </foreach>
      AND is_delete = 0
  </select>

  <select id="findByLabelId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM tb_label_relation
    WHERE label_id=#{labelId}
    AND is_delete = 0
  </select>

  <select id="findByRelationId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM tb_label_relation
    WHERE relation_id = #{relationId}
      AND relation_type = #{relationType}
      AND is_delete = 0
  </select>

  <select id="countLabel" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM tb_label_relation
    WHERE label_id = #{labelId} 
    <if test="relationType != null">
      AND relation_type = #{relationType}
    </if>
    AND is_delete = 0 
  </select>

  <select id="countLabelRelation" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM tb_label_relation
      WHERE label_id = #{labelId}
        AND relation_id = #{relationId}
        AND relation_type = #{relationType}
        AND is_delete = 0
  </select>

  <update id="batchDelete">
    UPDATE tb_label_relation
    SET
      is_delete = 1
    WHERE relation_type = #{relationType}
    <if test="labelId != null">
      AND label_id = #{labelId}
    </if>
      AND relation_id IN
        <foreach collection="relationIds" item="relationId" open="(" close=")" separator=",">
          #{relationId}
        </foreach>
  </update>



  <select id="findByRelationTypeAndLabelIds" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM tb_label_relation
    WHERE relation_type = #{relationType}
      <if test="labelIds != null and labelIds.size > 0">
        AND label_id IN
          <foreach collection="labelIds" item="labelId" open="(" close=")" separator=",">
              #{labelId}
          </foreach>
      </if>
     AND is_delete = 0
  </select>

  <select id="findEntity" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM tb_label_relation
    WHERE relation_type = #{relationType}
      AND relation_id = #{relationId}
      <if test="labelIds != null and labelIds.size > 0">
        AND label_id IN
          <foreach collection="labelIds" item="labelId" open="(" close=")" separator=",">
              #{labelId}
          </foreach>
      </if>
      AND is_delete = 0
      ORDER BY last_update_time
      LIMIT 1
  </select>

  <select id="findLabelRelation" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM tb_label_relation
    WHERE relation_type = #{relationType}
    AND relation_id = #{relationId}
    AND label_id =#{labelId}
    AND is_delete = 0
    LIMIT 1
  </select>

  <select id="findAllLabelRelation" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM tb_label_relation
    WHERE  is_delete = 0

  </select>
</mapper>