<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/diaShop/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/diaShop/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/diaShop/fonts/iconfont.css" rel="stylesheet" type="text/css"/>
    <script src="/diaShop/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/diaShop/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="/diaShop/js/common_js.js" type="text/javascript"></script>
    <script src="/diaShop/js/footer.js" type="text/javascript"></script>
    <script src="/diaShop/js/lrtk.js" type="text/javascript"></script>
    <title>每日必看</title>
</head>

<body>
<!--顶部图层-->
<div th:replace="diaShop/layout/mallHeader"></div>

<!--每日必看产品-->
<div class="Product_carousel" id="">
    <div class="hd">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="bd">
        <ul>
            <li><a href="#">
                <div style="background-image: url(AD_img/AD-111.jpg); background-repeat:no-repeat; background-position:center; height:456px; background-color:#FFF"></div>
            </a></li>
            <li><a href="#">
                <div style="background-image: url(AD_img/AD-112.jpg); background-repeat:no-repeat; background-position:center; height:456px; background-color:#a1e2ff"></div>
            </a></li>
        </ul>
    </div>
    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <a class="prev" href="javascript:void(0)"></a>
    <a class="next" href="javascript:void(0)"></a>
</div>
<script type="text/javascript">
    jQuery(".Product_carousel").slide({mainCell: ".bd ul", autoPlay: true});
</script>
<!--产品列表-->
<div class="Inside_pages clearfix">
    <div class="must_list like_p">
        <div class="list">
            <ul class="list_style">

                <li class="p_info_u" th:each="com:${commList}">
                    <div class="p_info_content">
                        <a th:href="@{'/diaShop/goodsDetail/'+${com.id}}" class="p_img">
                            <img th:src="@{${com.img}}" width="220px" height="220px"></a>
                        <a th:href="@{'/diaShop/goodsDetail/'+${com.id}}" th:text="${com.title}" class="name">御泥坊</a>
                    </div>
                    <div class="Numeral"><span class="price"><i th:text="'￥'+${com.prices}">￥</i></span><span
                            class="Sales">销量<i th:text="${com.sellhit}">345</i>件</span></div>
                    <div class="Brands_logo"><a th:href="@{'/diaShop/goodsByBrand/'+${com.brandid}}">
                        <img src="product/logo/34.jpg" width="130"/></a></div>
                </li>

            </ul>
        </div>
        <div class="Paging">
            <div class="Pagination">
                <a href="#">首页</a>
                <a href="#" class="pn-prev disabled">&lt;上一页</a>
                <a href="#" class="on">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">下一页&gt;</a>
                <a href="#">尾页</a>
            </div>
        </div>
    </div>
    <!--其他-->
    <div class="sell_style clearfix">
        <div class="advisory sell">
            <div class="left_sell">
                <a href="#">
                    <img src="/diaShop/images/tm_1.png"/></a>
            </div>
            <div class="right_sell">
                客服在线时间
                <br/>
                每天09:00 - 18:00
            </div>
        </div>
        <div class="Recharge sell">
            <div class="left_sell">
                <a href="#">
                    <img src="/diaShop/images/tm_2.png"/></a>
            </div>
            <div class="right_sell">
                享受VIP专属特权
                <br/>
                <b>更有专属优惠等着你</b>
            </div>
        </div>
        <div class="advisory_phone sell">
            <div class="left_sell">
                <em class="iconfont icon-dianhua"></em>
                <h2>400-3453-333</h2>
                <h3>客服热线（免长途费）</h3>
            </div>
            <div class="right_sell">
                电话咨询时间
                <br/>
                每天09:00 - 24:00
            </div>
        </div>
    </div>
</div>
<div th:replace="diaShop/layout/mallFooter"></div>
</body>
</html>
