<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/diaShop/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/diaShop/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/diaShop/fonts/iconfont.css" rel="stylesheet" type="text/css"/>
    <script src="/diaShop/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/diaShop/js/jqzoom.js" type="text/javascript"></script>
    <script src="/diaShop/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="/diaShop/js/common_js.js" type="text/javascript"></script>
    <script src="/diaShop/js/footer.js" type="text/javascript"></script>
    <script src="/diaShop/js/lrtk.js" type="text/javascript"></script>
    <title>历史足迹</title>
</head>

<body>
<!--顶部图层-->
<div th:replace="diaShop/layout/mallHeader"></div>

<!--足迹界面样式-->
<div class="Inside_pages">
    <div class="footprint_style clearfix">
        <div class="title_name"><em></em>我的足迹 <b>MY TRACKS</b></div>
        <ul>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_1.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/34.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_15.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/34.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_13.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/42.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_12.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/152.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_11.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/152.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_5.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/152.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_4.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/152.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_3.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/152.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_21.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/152.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_24.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/152.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_32.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/199.jpg" width="150"/></a></div>
                </div>
            </li>
            <li class="Record_style">
                <div class="biankuan">
                    <div class="img_link center"><a href="#"><img src="product/p_22.jpg"/></a></div>
                    <div class="name"><a href="#">沙宣洗发水垂坠质感750ml（男女通用 洗头膏 洗发露 去屑）</a></div>
                    <div class="Price"><b>￥</b>45.00</div>
                    <div class="logo"><a href="#"><img src="product/logo/156.jpg" width="150"/></a></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="Paging">
        <div class="Pagination">
            <a href="#">首页</a>
            <a href="#" class="pn-prev disabled">&lt;上一页</a>
            <a href="#" class="on">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">下一页&gt;</a>
            <a href="#">尾页</a>
        </div>
    </div>
</div>
<div th:replace="diaShop/layout/mallFooter"></div>
</body>
</html>
