<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zscat.shop.dao.JifendataDao">

	<select id="get" resultType="com.zscat.shop.domain.JifendataDO">
		select `id`,`addcount`,source,userid,`createdate` from t_jifendata where id = #{value}
	</select>

	<select id="list" resultType="com.zscat.shop.domain.JifendataDO">
		select `id`,`addcount`,source,userid,`createdate` from t_jifendata
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="addcount != null and addcount != ''"> and addcount = #{addcount} </if>
		  		  <if test="createdate != null and createdate != ''"> and createdate = #{createdate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_jifendata
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="addcount != null and addcount != ''"> and addcount = #{addcount} </if>
		  		  <if test="createdate != null and createdate != ''"> and createdate = #{createdate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.zscat.shop.domain.JifendataDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_jifendata
		(
			`userid`,
			`addcount`,
			source,
			`createdate`
		)
		values
		(
			#{userid},
			#{addcount},
			#{source},
			#{createdate}
		)
	</insert>
	 
	<update id="update" parameterType="com.zscat.shop.domain.JifendataDO">
		update t_jifendata 
		<set>
			<if test="userid != null">`userid` = #{userid}, </if>
			<if test="addcount != null">`addcount` = #{addcount}, </if>
			<if test="createdate != null">`createdate` = #{createdate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_jifendata where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_jifendata where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>