<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zscat.user.dao.TMemberDao">

	<select id="get" resultType="com.zscat.user.entity.TMemberDO">
		select `id`,`username`,`password`,`addtime`,`phone`,`qq`,`email`,`trueName`,`gold`,`status`,`address`,`storeid`,`img`,`sex` ,`balance`,`jifen`,`img`,`wx_open_id`,`wx_unionid`,`wx_avatar` from t_member where id = #{value}
	</select>

	<select id="list" resultType="com.zscat.user.entity.TMemberDO">
		select `id`,`username`,`password`,`addtime`,`phone`,`qq`,`email`,`trueName`,`gold`,`status`,`address`,`storeid`,`img`,`sex`,`balance`,`jifen`,`img`,`wx_open_id`,`wx_unionid`,`wx_avatar` from t_member
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="username != null and username != ''"> and username = #{username} </if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
			<if test="phone != null and phone != ''"> and phone = #{phone} </if>
			<if test="qq != null and qq != ''"> and qq = #{qq} </if>
			<if test="email != null and email != ''"> and email = #{email} </if>
			<if test="truename != null and truename != ''"> and trueName = #{truename} </if>
			<if test="gold != null and gold != ''"> and gold = #{gold} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="address != null and address != ''"> and address = #{address} </if>
			<if test="storeid != null and storeid != ''"> and storeid = #{storeid} </if>
			<if test="img != null and img != ''"> and img = #{img} </if>
			<if test="sex != null and sex != ''"> and sex = #{sex} </if>
			<if test="balance != null and balance != ''"> and balance = #{balance} </if>

			<if test="jifen != null and jifen != ''"> and jifen = #{jifen} </if>
			<if test="img != null and img != ''"> and img = #{img} </if>
			<if test="wxOpenId != null and wxOpenId != ''"> and wx_open_id = #{wxOpenId} </if>
			<if test="wxUnionid != null and wxUnionid != ''"> and wx_unionid = #{wxUnionid} </if>
			<if test="wxAvatar != null and wxAvatar != ''"> and wx_avatar = #{wxAvatar} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from t_member
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="username != null and username != ''"> and username = #{username} </if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
			<if test="phone != null and phone != ''"> and phone = #{phone} </if>
			<if test="qq != null and qq != ''"> and qq = #{qq} </if>
			<if test="email != null and email != ''"> and email = #{email} </if>
			<if test="truename != null and truename != ''"> and trueName = #{truename} </if>
			<if test="gold != null and gold != ''"> and gold = #{gold} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="address != null and address != ''"> and address = #{address} </if>
			<if test="storeid != null and storeid != ''"> and storeid = #{storeid} </if>
			<if test="img != null and img != ''"> and img = #{img} </if>
			<if test="sex != null and sex != ''"> and sex = #{sex} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.zscat.user.entity.TMemberDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_member
		(
		`username`,
		`password`,
		`addtime`,
		`phone`,
		`qq`,
		`email`,
		`trueName`,
		`gold`,
		`status`,
		`address`,
		`storeid`,
		`img`,
		`sex`,
		`balance`,

		`jifen`,

		`wx_open_id`,
		`wx_unionid`,
		`wx_avatar`
		)
		values
		(
		#{username},
		#{password},
		#{addtime},
		#{phone},
		#{qq},
		#{email},
		#{truename},
		#{gold},
		#{status},
		#{address},
		#{storeid},
		#{img},
		#{sex},
		#{balance},

		#{jifen},

		#{wxOpenId},
		#{wxUnionid},
		#{wxAvatar}
		)
	</insert>

	<update id="update" parameterType="com.zscat.user.entity.TMemberDO">
		update t_member
		<set>
			<if test="username != null">`username` = #{username}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="addtime != null">`addtime` = #{addtime}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="qq != null">`qq` = #{qq}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="truename != null">`trueName` = #{truename}, </if>
			<if test="gold != null">`gold` = #{gold}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="address != null">`address` = #{address}, </if>
			<if test="storeid != null">`storeid` = #{storeid}, </if>
			<if test="img != null">`img` = #{img}, </if>
			<if test="sex != null">`sex` = #{sex},</if>
			<if test="balance != null">`balance` = #{balance}, </if>

			<if test="jifen != null">`jifen` = #{jifen}, </if>

			<if test="wxOpenId != null">`wx_open_id` = #{wxOpenId}, </if>
			<if test="wxUnionid != null">`wx_unionid` = #{wxUnionid}, </if>
			<if test="wxAvatar != null">`wx_avatar` = #{wxAvatar}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from t_member where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from t_member where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>